<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <style media="screen">
    h1,h2,h3,input{
      color:#141A46;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
    body{
      background-color:#EC8B5E;
    }
form {
  border-radius: 5px;
  text-align:center;
  padding: 20px;
}
input{
  color:#141A46;
  border-size:0px;
  border-color:#141A46;
  border-radius:10px;
}

  </style>
  <body>
    <br><br>
    <div class="container">


    <h2 >Corona Cases in {{country}}</h2>

    {%with mes=get_flashed_messages()%}
      {%if mes%}
      <div class="container">

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{mes[0]}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        </div>


      {%endif%}
    {%endwith%}

    <br><br><br><br>
    <h3  style="font-size:20px;">Total cases : <strong>{{total}}</strong></h3>
    <h3  style="font-size:20px;">Active cases : <strong>{{active}}</strong></h3>
    <h3  style="font-size:20px;">Deaths : <strong>{{deaths}}</strong></h3>
    <h3  style="font-size:20px;">Cured : <strong>{{cured}}</strong></h3><br>
    <form method="post">
      <input type="text" name="country" value="" placeholder="search..">
      <input type="submit" value="Submit">
    </form>



    </div>
  </body>
</html>
